# ===== PROXY API =====
# Токен ProxyAPI для доступа к OpenAI через прокси
# Получить: https://proxyapi.ru/ -> Личный кабинет -> API ключ
PROXY_API_KEY=sk-nkLa1cRNfl734DjDxraK3eyD2BCKoA0i

# Модель OpenAI для использования
OPENAI_MODEL=gpt-4o-mini

# ===== VK API =====
# Токен сообщества ВКонтакте
VK_TOKEN=vk1.a.x1Nc9aVj18w228UbjQQeeah3lDypYcpsH2-oacah1WVVpt1-Ns8y6MQdClR74xFA7da0KPfEDYMMDOTpZH2b6lZubvS1iT2CzY_tE1WKHYeAa9GQH-JKWIbWyOUtjkp-8mCS-j8HADGmY3V3rxEB5v0zFD9HwNu3ZiWGhnFI_I2z2GI-v_3cUU_CuVd7m4eSczz_55rS68R850Bsm6EyNw

# ID сообщества ВКонтакте (без минуса)
VK_GROUP_ID=241242091